.paper {
  justify-items: center;
}

.pic-wrapper {
  position: relative;

  width: 300px;

  margin: 0 auto;

  padding: 0;
}

.hide-it {
  display: none;
}

#button-left {
  position: absolute;

  top: 135px;

  width: 30px;
  height: 30px;

  z-index: 1;
}
#button-right {
  position: absolute;

  top: 135px;
  right: 0;

  width: 30px;
  height: 30px;

  z-index: 1;
}
