.paper {
  justify-items: center;
}

table {
  max-width: 800px;
  margin: auto;

  border: 1px solid gray;
  border-collapse: collapse;
}

th {
  border: 1px solid gray;
  padding: 0 15px;
}

td {
  padding: 5px 20px;

  border-left: 1px solid gray;
  border-right: 1px solid gray;

  font-family: 'Georgia', sans-serif;
  font-size: 100%;
  color: #e3fce5;
}

.card {
  margin: 20px auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
  max-width: 400px;
}

.form-control {
  margin: 5px auto;
  padding: 10px;
  width: 80%;

  background-color: bisque;

  border: none;
  border-radius: 5px;
}

.button {
  border-radius: 10px;
}

.delete-button {
  border: none;
  padding: 5px;
  border-radius: 3px;
  background-color: #FA745A;

  color:azure;

  min-width: 50px;
}

.edit-button {
  border: none;
  padding: 5px;
  border-radius: 3px;
  background-color: #cab91d;

  color:azure;

  min-width: 50px;
}

.view-button {
  border: none;
  padding: 5px;
  border-radius: 3px;
  background-color: #4CAF50;

  color:azure;

  min-width: 50px;
}

.js--hidden {
  display: none !important;
}