body {
  font-family: 'Georgia', sans-serif;
  font-size: 120%;
  color: #eee8aa;

  background-color: #000000;
}

.paper {
  width: 900px;

  margin: 30px auto 30px;
  padding: 30px 30px 30px 60px;

  background-color: #203535;
}

a, a:visited, a:hover, a:active {
  color: #8ab4f8;
  text-underline-position: under;
}

.inactive {
  display: none;
}

form {
  align-items: center;
}

input {
  display: block;

  margin: 10px auto;
  padding: 5px;
  background-color: #355555;

  font-size: 16px;
}

input:focus {
  border: 2px solid #69bd6c;
  outline: none;
}

button {
  display: block;

  background-color: #4CAF50;
  transition-duration: 0.4s;

  border: none;
  border-radius: 2px;
  margin: 10px auto;

  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

button:hover {
  background-color: #69bd6c; /* Green */
  color: #ffffff;
}